<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>646726382932-i5kbat6356qnf8s2uuss95ci4hpqtfgv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646726382932-i5kbat6356qnf8s2uuss95ci4hpqtfgv</string>
	<key>API_KEY</key>
	<string>AIzaSyCNygKkUHFyj9m79JjSBUuJ96T0ASzZeec</string>
	<key>GCM_SENDER_ID</key>
	<string>646726382932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>csc436.ParseRecCenterJSON</string>
	<key>PROJECT_ID</key>
	<string>parsereccenterjson</string>
	<key>STORAGE_BUCKET</key>
	<string>parsereccenterjson.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646726382932:ios:219bb800d334ab34</string>
	<key>DATABASE_URL</key>
	<string>https://parsereccenterjson.firebaseio.com</string>
</dict>
</plist>